table{
  text-align: center;
  cellpadding: 20px;
  margin: 20px;
  background: red;
}
body{
  front-family: arial;
  background-color: greenyellow;}
h1{
  
  color: rgb(255,255,255);
  text-align: center;
}
footer{
  text-align: center;
  padding: 20px;
}
p{
  margin: 15px
}
header{
  text-align: center;
}
